<%- include('header.ejs', locals) %>
<h1>Search Results</h1>

<% if (search.hits && search.hits.total > 0) {%>
<ul class="search-results">
  <% search.hits.hits.forEach(function(hit) { %>
  <li class="search-result package">
    <h2><a href="/package/<%= encodeURI(hit.fields.name) %>"><%= sanitize(hit.fields.name) %></a></h2>
    <ul class="hud">
      <li class="dlScore" title="average downloads"><span
      <% if (parseFloat(hit.fields.dlScore) > 1) { %>
        class="dlScore dlScore-increasing" title="more downloads this week than average over this past month">
      <% } else if (hit.fields.dlScore < 1) { %>
        class="dlScore dlScore-decreasing" title="fewer downloads this week than average over this past month">
      <% } else { %>
        class="dlScore dlScore-steady" title="same downloads this week than average over this past month">
      <% } %>
        <%= hit.fields.dlDay || 0 %>
      </span></li>
      <li class="stars" title="number of stars by users"><%= hit.fields.stars %></li>
    </ul>
    <p class="description"><%= sanitize(hit.fields.description) %></p>
    <div class="details">
      <span class="version">
        <%= hit.fields.version %> by
        <a href="/~<%= hit.fields.author %>"><%= hit.fields.author %></a>
      </span>
      <% if (hit.fields && hit.fields.keywords && hit.fields.keywords.length) { %>
      <ul class="keywords">
        <% hit.fields.keywords.forEach(function(keyword, idx) { %>
          <li>
            <a href="/browse/keyword/<%= encodeURI(keyword) %>"><%= sanitize(keyword) %></a><% if(idx<hit.fields.keywords.length-1) { %>, <% } %>
          </li>
        <% }) %>
      </ul>
      <% } %>
    </div>
  </li>
  <% }); %>
</ul>

<p class="description">
  <% if (search.page > 1) { %>
    <a href="/search?q=<%= search.q %>&page=<%= search.page - 1 %>">&larr; previous</a>
  <% }  else if (search.page === 1) { %>
    <a href="/search?q=<%= search.q %>">&larr; previous</a>
  <% } %>
  Page <%= search.page + 1 %>
  <% if (search.hits.total >= (search.pageSize*search.page + search.pageSize)) { %>
    <a href="/search?q=<%= search.q %>&page=<%= search.page + 1 %>">next &rarr;</a>
  <% } %>
</p>

<% } else { %>
  No results!
<% } %>


<%- include('footer.ejs', locals) %>
